{% if not ajax %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/build/css/style.css?{{ random()}}" type="text/css" />
    <script src="{{ theme_url }}/build/js/scripts.js?{{ random()}}"></script>
</head>
<body {% if current_page.id == 'tree' %}id="tree-view"{% endif %}>

    {% spaceless %}
    <header id="header">
        <div class="row column">
            <h1><a href="{{ "index"|link }}" id="logo">{{ site_title }}</a></h1>

            <div class="view-mode">
                <a href="/" {% if current_page.id != 'tree' %}class="active"{% endif %}>Playbooks</a>
                <a href="/tree" {% if current_page.id == 'tree' %}class="active"{% endif %}>File Tree</a>
            </div>

            <form action="/">
                <input type="text" name="query" value="{{ query }}" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

            <div class="icons">
                <i class="fa fa-creative-commons"></i>
                <a title="GitHub" href="https://github.com/joelmoxley/founder-playbook"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <nav>
            <div class="row">
                <ul name="playbook">
                    {% for playbook in playbooks%}
                        <li {% if playbook.slug == current_playbook.slug %} class="selected"{% endif %}>
                            <a href="/{{ playbook.slug }}">
                                {{ playbook.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    {% endspaceless %}

    <div id="container">
        {% if current_playbook %}
        <ul class="playbook-nav">
            <li {% if not current_play and current_playbook %} class="selected"{% endif %}>
                <a title="{{ current_playbook.name }}" href="/{{ current_playbook.slug }}">
                    TOC
                </a>
                <div class="content"></div>
            </li>
            {% set count = 0 %}
            {% for play in current_playbook.plays %}
                {% set count = count + 1 %}
                <li {% if play.slug == current_play.slug %} class="selected"{% endif %}>
                    <a title="{{ page.title }}" href="/{{ current_playbook.slug }}/{{ play.slug }}">
                        {{ count }}
                    </a>
                    <div class="content"></div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <section class="row" id="content">
{% endif %}
            {% block content %}{% endblock %}
        </section>
{% if current_page.id == 'tree' %}
    </div><div id="footer-wrap">
{% endif %}
{% if not ajax %}
        {% spaceless %}
<!--         <div id="footer" class="row">
            <div class="social">
                {% for social in meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}"><span class="icon-{{ social.icon }}"></span></a>
                {% endfor %}
            </div>
        </div> -->
        {% endspaceless %}
    </div>

    <div class="small-12 footer-container">
        <div class="row">
            <div class="small-12 medium-12 large-10 large-centered">
                {{ "footer"|content|markdown }}
            </div>
        </div>
        
    </div>
</body>
</html>
{% endif %}