{% extends "_layout.twig" %}

{% block content %}
<div class="column play-row">
  <h1>
    {{ current_play.name }} ({{ current_play.length }})

    {% set edit = current_play.hasIndex ? 'edit' : 'new' %}
    <a href="{{ config.git.url }}/{{ edit }}/{{ config.git.branch }}/{{ current_play.oldPath|url_encode }}/index.md?filename=index.md&value={{ "This content will appear at the top of the page"|url_encode }}" target="_blank" class="edit-icon fa fa-pencil">
    </a>
  </h1>

  {% if content is not empty %}
  <div class="columns play-intro play-content">
    {{ content }}
  </div>
  {% endif %}

  {% set index = 0 %}
  {% for section in current_play.sections %}
      <div class="play-content columns">
        {% set index = index + 1 %}
        {% if section.name|length %}
          <h2>{{ section.name }} ({{ section.length }})</h2>
        {% endif %}

        <ol id="{{ section.slug }}">
          {% for file in section.files %}
            {% set url = file.url ? file.url : [current_playbook.slug, current_play.slug, section.slug, file.slug]|join('/') %}
            <li>
                <a href="{{ url }}" class="filename">{{ file.name }}</a>
                {% set name = file.path|split('/')|last %}
                {% set path = '/' ~ file.oldPath|split('/')|slice(0, -1)|join('/') ~ '/md/' ~ name %}
                {% set edit = file.md ? 'edit' : 'new' %}
                <a href="{{ config.git.url }}/{{ edit }}/{{ config.git.branch }}/{{ path|url_encode }}/?filename={{ name|url_encode }}&value={{ pages['example']['raw_content']|url_encode }}" target="_blank" class="edit-icon fa fa-pencil">
                </a>
                {{ file.content|markdown }}
            </li>
          {% endfor %}
          {% if section.length > 2 %}
            <li class="show-more">
              <a href="#{{ section.slug }}">Show {{ section.length - 2 }} more</a>
            </li>
          {% endif %}
        </ol>
      </div>
  {% endfor %}
  
  <div class="play-content play-footer">
    {{ (current_play.path ~ '/footer')|content }}

    {% set edit = current_play.hasFooter ? 'edit' : 'new' %}
    <a href="{{ config.git.url }}/{{ edit }}/{{ config.git.branch }}/{{ current_play.oldPath|url_encode }}/footer.md?filename=footer.md&value={{ "This content will appear at the bottom of the page"|url_encode }}" target="_blank" class="edit-icon fa fa-pencil">
    </a>
  </div>

</div>
{% endblock %}