{% extends "_layout.twig" %}

{% block content %}
  <div class="column">
    <h1>{{results|length}} results for "{{query}}"</h1>
    <ul class="search-results">
    {% for result in results %}
      {% set url = [current_playbook.slug, current_play.slug, section.slug, result.slug]|join('/') %}
      <li>
      <a href="{{ result.fileURL ~ '.md' }}">
        {{ result.name }}
        <div>
          {% if result.url starts with 'http' %}
            {{ result.url }}
          {% else %}
            {{ result.url|replace({
              '-': ' ',
              '/': ' / '
            })|title }}
          {% endif %}
        </div>
      </a>
      <div class="content">
        {{result.content|markdown}}
      </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}